doctype html 
html 
    head 
        title MJ Dance Academy
        style 
            include ../static/style.css
    body 
        nav#navbar
            ul
                div#logo 
                    img(src="../static/logo.png")
                    | SDA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services ]
                li #[a(href="/") Class info ]
                li #[a(href="/") ContactUs ]
        section#introsection 
            div
                h1 Welcome to dance Academy website 
            div.small To all the dancers out there 
        section#missionsection 
            h2 Our Missions
            div.card
                h3 Dance Perfection
                div.card-box
                    div.card-img
                        img(src="../static/1.png")
                    div.card-content
                        p This is the best dance academy of the universe
            div.card
                h3 Dance the way you like
                div.card-box
                    div.card-img
                        img(src="../static/2.png")
                    div.card-content
                        p This is the best dance academy of the universe
            div.card
                h3 Expert Teaching
                div.card-box
                    div.card-img
                        img(src="../static/3.png")
                    div.card-content
                        p This is the best dance academy of the universe
        section#sponserssection 
            h3 Our Sponsers
            img(src="/static/img1.png", alt="Sponser Image", class="spImage")
            img(src="/static/img2.jpg", alt="Sponser Image", class="spImage")
            img(src="/static/img3.png", alt="Sponser Image", class="spImage")
            
        footer#footer 
            | Copyright © 2019 HarryAcademy.com | All Rights Reserved

        script  
            include ../static/index.js